<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="images/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="big_header">
        <main class="container">
            <div class="wrapper_header">
              <!-- HEADER AREA -->
              <div class="bg_header">
                <header class="header">
                  <figure class="header_logo">
                    <img src="/images/this.png" class="header_logo_img" alt="logo image">
                  </figure>
                  <!-- HEADER MENU AREA -->
                  <nav class="header_navbar" id="navbar">
                    <ul class="header_navbar_menu">
                      <li class="header_navbar_menu_item">
                        <a href="javascript:;" class="header_navbar_menu_item_link hover_link">Booking</a>
                      </li>
                      <li class="header_navbar_menu_item">
                        <a href="javascript:;" class="header_navbar_menu_item_link hover_link">|</a>
                      </li>
                      <li class="header_navbar_menu_item">
                        <a href="javascript:;" class="header_navbar_menu_item_link hover_link">Pricing</a>
                      </li>
                      <li class="header_navbar_menu_item">
                        <a href="javascript:;" class="header_navbar_menu_item_link hover_link">|</a>
                      </li>
                      <li class="header_navbar_menu_item">
                        <a class="header_navbar_menu_item_link hover_link">About</a>
                      </li>
                    </ul>
                  </nav>
        
                  <a class="sign-up" href="/templates/signup.html">Sign Up</a>
                  <!-- MENU MOBILE -->
                  <span class="icon_menu" id="icon_menu"></span>
                  <article class="header_title">
                    <h1 class="header_title_text">"Enchant. Engage. Entertain."</h1>
                  </article>
                </header>
              </div>
            </div>
        </main>
    </div>
    <div class="main_container">
        <h1>Explore Movies</h1>
        <div class="Movies">
            <div class="Movies-1">
                <div class="movie-img">
                  <img src="/images/spider-man.jpg" alt="">
                    <button class="book" onclick="handleBooking(showId)">Book</button>

                </div>
                <p>Spider-man Across the spider verse</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-2">
                <div class="movie-img">
                  <img src="/images/TS.jpg" alt="">
                    <button class="book" onclick="handleBooking(showId)">Book</button>

                </div>
                <p>The Simpsons</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-3">
              <div class="movie-img">
                <img src="/images/b.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Barbie</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-4">
              <div class="movie-img">
                <img src="/images/AM.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Aqua-man</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-5">
              <div class="movie-img">
                <img src="/images/HG.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Hunger Games</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-6">
              <div class="movie-img">
                <img src="/images/hm.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Home Alone</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-7">
              <div class="movie-img">
                <img src="/images/gg.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Gone-Girl</p>
                <p>Thu, Jan 27</p>
            </div>
            <div class="Movies-8">
              <div class="movie-img">
                <img src="/images/be.jpg" alt="">
                  <button class="book" onclick="handleBooking(showId)">Book</button>

              </div>
                <p>Berlin</p>
                <p>Thu, Jan 27</p>
            </div>
        </div>

    </div>
    <div class="section-ad">
      <div class="section-ad-content">
        <h2>Book your movie tickets. Start watching.</h2>
        <button>Get Started</button>
      </div>
    </div>
    <footer>
      <section class="section-footer">
        <div class="footer-logo">
          <img src="/images/this.png" class="header_logo_img" alt="" />
          <ul>
            <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
            <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
            <li><a href=""><img src="images/icon-pinterest.svg" alt=""></a></li>
            <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
          </ul>
        </div>
        <div class="footer-links-wrapper">
          <div class="footer-links-one">
            <a href="">Home</a>
            <a href="">Pricing</a>
            <a href="">Products</a>
            <a href="">About Us</a>
          </div>
          <div class="footer-links-two">
            <a href="">Help Center</a>
            <a href="">Community</a>
            <a href="">Privacy Policy</a>
          </div>
        </div>
        <div class="footer-input">
          <div class="footer-input-input">
            <input type="text" placeholder="Updates in your inbox…" />
            <button>Go</button>
          </div>
          <p class="Copyright">Copyright 2023. All Rights Reserved</p>
        </div>
      </section>
    </footer>
    
</body>
</html>
<script src="/js/scripts.js"></script>